USE [master]
GO
/****** Object:  Database [QLBH_Win]    Script Date: 27/02/2019 9:06:38 PM ******/
CREATE DATABASE [QLBH_Win]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH_Win', FILENAME = N'D:\Hien\School\Xay dung phan mem theo mo hinh phan lop\QLBH_Win\QLTV_SQL\QLBH_Win.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBH_Win_log', FILENAME = N'D:\Hien\School\Xay dung phan mem theo mo hinh phan lop\QLBH_Win\QLTV_SQL\QLBH_Win_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH_Win].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH_Win]
GO
/****** Object:  StoredProcedure [dbo].[SPNhom_Sua]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create procedure [dbo].[SPNhom_Sua]
@MaNhomSP int,
@TenNhomSP nvarchar(255)
as
Begin
     Update SPNhom Set TenNhomSP = @TenNhomSP
     where MaNhomSP = @MaNhomSP
End


GO
/****** Object:  StoredProcedure [dbo].[SPNhom_Them]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SPNhom_Them]
@MaNhomSP int,
@TenNhomSP nvarchar(255)
as
Begin
     Insert into SPNhom values (@MaNhomSP, @TenNhomSP)   
End


GO
/****** Object:  StoredProcedure [dbo].[SPNhom_Xoa]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[SPNhom_Xoa]
@MaNhomSP int
as
Begin
     Delete from SPNhom where MaNhomSP = @MaNhomSP
End


GO
/****** Object:  Table [dbo].[KH]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KH](
	[MaKH] [int] NOT NULL,
	[TenKH] [nvarchar](255) NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NCC]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[MaNCC] [int] NOT NULL,
	[TenNCC] [nvarchar](255) NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NV]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV](
	[MaNV] [int] NOT NULL,
	[TenNV] [nvarchar](255) NULL,
 CONSTRAINT [PK_NV] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Phieu]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phieu](
	[MaPhieu] [int] NOT NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK_Phieu] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuGiao]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuGiao](
	[MaPhieuGiao] [int] NOT NULL,
 CONSTRAINT [PK_PhieuGiao] PRIMARY KEY CLUSTERED 
(
	[MaPhieuGiao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuHD]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuHD](
	[MaPhieuHD] [int] NOT NULL,
 CONSTRAINT [PK_PhieuHD] PRIMARY KEY CLUSTERED 
(
	[MaPhieuHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuHDChiTiet]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuHDChiTiet](
	[MaPhieuHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [int] NULL,
 CONSTRAINT [PK_PhieuHDChiTiet] PRIMARY KEY CLUSTERED 
(
	[MaPhieuHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [int] NOT NULL,
 CONSTRAINT [PK_PhN] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuNhapChiTiet]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapChiTiet](
	[MaPhieuNhap] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_PhieuNhapChiTiet] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SP]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SP](
	[MaSP] [int] NOT NULL,
	[MaLoaiSP] [int] NULL,
	[MaNCC] [int] NULL,
	[TenSP] [nvarchar](255) NULL,
	[HinhSP] [nvarchar](255) NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_SP] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SPLoai]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPLoai](
	[MaLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[MaNhomSP] [int] NULL,
	[TenLoaiSP] [nchar](10) NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SPNhom]    Script Date: 27/02/2019 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPNhom](
	[MaNhomSP] [int] IDENTITY(1,1) NOT NULL,
	[TenNhomSP] [nvarchar](255) NULL,
 CONSTRAINT [PK_SPNhom] PRIMARY KEY CLUSTERED 
(
	[MaNhomSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[SPLoai] ON 

INSERT [dbo].[SPLoai] ([MaLoaiSP], [MaNhomSP], [TenLoaiSP]) VALUES (0, 8, N'123       ')
INSERT [dbo].[SPLoai] ([MaLoaiSP], [MaNhomSP], [TenLoaiSP]) VALUES (1, 9, N'5         ')
INSERT [dbo].[SPLoai] ([MaLoaiSP], [MaNhomSP], [TenLoaiSP]) VALUES (2, 10, N'123       ')
SET IDENTITY_INSERT [dbo].[SPLoai] OFF
SET IDENTITY_INSERT [dbo].[SPNhom] ON 

INSERT [dbo].[SPNhom] ([MaNhomSP], [TenNhomSP]) VALUES (8, N'Hello')
INSERT [dbo].[SPNhom] ([MaNhomSP], [TenNhomSP]) VALUES (9, N'23')
INSERT [dbo].[SPNhom] ([MaNhomSP], [TenNhomSP]) VALUES (10, N'3')
SET IDENTITY_INSERT [dbo].[SPNhom] OFF
ALTER TABLE [dbo].[Phieu]  WITH CHECK ADD  CONSTRAINT [FK_Phieu_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KH] ([MaKH])
GO
ALTER TABLE [dbo].[Phieu] CHECK CONSTRAINT [FK_Phieu_KH]
GO
ALTER TABLE [dbo].[Phieu]  WITH CHECK ADD  CONSTRAINT [FK_Phieu_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NV] ([MaNV])
GO
ALTER TABLE [dbo].[Phieu] CHECK CONSTRAINT [FK_Phieu_NV]
GO
ALTER TABLE [dbo].[Phieu]  WITH CHECK ADD  CONSTRAINT [FK_Phieu_NV1] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NV] ([MaNV])
GO
ALTER TABLE [dbo].[Phieu] CHECK CONSTRAINT [FK_Phieu_NV1]
GO
ALTER TABLE [dbo].[PhieuGiao]  WITH CHECK ADD  CONSTRAINT [FK_PhieuGiao_Phieu] FOREIGN KEY([MaPhieuGiao])
REFERENCES [dbo].[Phieu] ([MaPhieu])
GO
ALTER TABLE [dbo].[PhieuGiao] CHECK CONSTRAINT [FK_PhieuGiao_Phieu]
GO
ALTER TABLE [dbo].[PhieuHD]  WITH CHECK ADD  CONSTRAINT [FK_PhieuHD_Phieu] FOREIGN KEY([MaPhieuHD])
REFERENCES [dbo].[Phieu] ([MaPhieu])
GO
ALTER TABLE [dbo].[PhieuHD] CHECK CONSTRAINT [FK_PhieuHD_Phieu]
GO
ALTER TABLE [dbo].[PhieuHDChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_PhieuHDChiTiet_PhieuHD] FOREIGN KEY([MaPhieuHD])
REFERENCES [dbo].[PhieuHD] ([MaPhieuHD])
GO
ALTER TABLE [dbo].[PhieuHDChiTiet] CHECK CONSTRAINT [FK_PhieuHDChiTiet_PhieuHD]
GO
ALTER TABLE [dbo].[PhieuHDChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_PhieuHDChiTiet_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SP] ([MaSP])
GO
ALTER TABLE [dbo].[PhieuHDChiTiet] CHECK CONSTRAINT [FK_PhieuHDChiTiet_SP]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_Phieu] FOREIGN KEY([MaPN])
REFERENCES [dbo].[Phieu] ([MaPhieu])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_Phieu]
GO
ALTER TABLE [dbo].[PhieuNhapChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapChiTiet_PhieuNhap] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[PhieuNhapChiTiet] CHECK CONSTRAINT [FK_PhieuNhapChiTiet_PhieuNhap]
GO
ALTER TABLE [dbo].[SP]  WITH CHECK ADD  CONSTRAINT [FK_SP_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[SP] CHECK CONSTRAINT [FK_SP_NCC]
GO
ALTER TABLE [dbo].[SP]  WITH CHECK ADD  CONSTRAINT [FK_SP_SPLoai] FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[SPLoai] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[SP] CHECK CONSTRAINT [FK_SP_SPLoai]
GO
ALTER TABLE [dbo].[SPLoai]  WITH CHECK ADD  CONSTRAINT [FK_SPLoai_SPNhom] FOREIGN KEY([MaNhomSP])
REFERENCES [dbo].[SPNhom] ([MaNhomSP])
GO
ALTER TABLE [dbo].[SPLoai] CHECK CONSTRAINT [FK_SPLoai_SPNhom]
GO
USE [master]
GO
